# Data Connector
`Author: YUAN Yan Zhe`

Data connector connects raw data with mongoDB database and spark data structure, basically it contains two parts:
- Data Preprocessor
  - Preprocess the raw data
  - .csv -> pd.DataFrame
- Data Transportor
  - Write the preprocessed data to MongoDB through instance of mongoDB class
  - pd.DataFrame -> mongoDB data structure(json)
- the indivisual test version for the previous two parts are in `data_transportor.ipynb` and `data_preprocessor.ipynb`

##### NOTES
**To run this code, first start mongodb service using`brew services start mongodb-community@4.4` (https://docs.mongodb.com/manual/tutorial/install-mongodb-on-os-x/)**

**For mongodb connection, use `pyspark --packages org.mongodb.spark:mongo-spark-connector_2.12:3.0.0` to wake up pyspark. (match the version with scala-pyspark-mangodb, details: https://docs.mongodb.com/spark-connector/master/python-api)**

- To switch scala version, do the following:
  - `brew search scala`
  - `brew install scala@2.12`
  - `brew unlink scala`
  - `brew link scala@2.12 --force`
  - `scala -version`
  - add `echo 'export PATH="/usr/local/opt/scala@2.12/bin:$PATH"' >> ~/.zshrc` to the shell

## Data Preprocessor
- Load raw data from .csv file
- Preprocess raw data
  - For train and test data, change the time-stamp to [datetime, date, time] for future analysis
  - For weather train and test data, change the time-stamp and fill Nan values with median value of that day
  - For building metadata, drop the columns with too many Nan values.
- Store the preprocessed data into .csv file for Data Transportor

In [1]:
spark

In [2]:
# Import packages

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from datetime import datetime
from pytz import timezone
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load raw data from original dataset

train_df = pd.read_csv("ashrae-energy-prediction/train.csv")
building_df = pd.read_csv("ashrae-energy-prediction/building_metadata.csv")
test_df = pd.read_csv("ashrae-energy-prediction/test.csv")
weather_train_df = pd.read_csv('ashrae-energy-prediction/weather_train.csv')
weather_test_df = pd.read_csv('ashrae-energy-prediction/weather_test.csv')
print('Data Loaded')
print('the size of train dataset:', train_df.shape)
print('the size of test dataset:', test_df.shape)
print('the size of weather_train dataset:', weather_train_df.shape)
print('the size of weather_test dataset:', weather_test_df.shape)
print('the size of building_metadata dataset:', building_df.shape)

Data Loaded
the size of train dataset: (20216100, 4)
the size of test dataset: (41697600, 4)
the size of weather_train dataset: (139773, 9)
the size of weather_test dataset: (277243, 9)
the size of building_metadata dataset: (1449, 6)

In [4]:
# Preprocess the train and test data

train_df['datetime'] = train_df['timestamp'].astype('datetime64[ns]') 
train_df['date'] = train_df['datetime'].apply(datetime.date)
train_df['time'] = train_df['datetime'].apply(datetime.time)
print(train_df.isna().sum())

test_df['datetime'] = test_df['timestamp'].astype('datetime64[ns]') 
test_df['date'] = test_df['datetime'].apply(datetime.date)
test_df['time'] = test_df['datetime'].apply(datetime.time)
print(train_df.isna().sum())

building_id      0
meter            0
timestamp        0
meter_reading    0
datetime         0
date             0
time             0
dtype: int64
building_id      0
meter            0
timestamp        0
meter_reading    0
datetime         0
date             0
time             0
dtype: int64

In [5]:
train_df.head()

,building_id,meter,timestamp,meter_reading,datetime,date,time
0,0,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00
1,1,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00
2,2,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00
3,3,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00
4,4,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00

In [6]:
test_df.head()

,row_id,building_id,meter,timestamp,datetime,date,time
0,0,0,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00
1,1,1,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00
2,2,2,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00
3,3,3,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00
4,4,4,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00

In [7]:
weather_nan_train = weather_train_df.isna().sum()
print(weather_nan_train)
weather_nan_test = weather_test_df.isna().sum()
print(weather_nan_test)

site_id                   0
timestamp                 0
air_temperature          55
cloud_coverage        69173
dew_temperature         113
precip_depth_1_hr     50289
sea_level_pressure    10618
wind_direction         6268
wind_speed              304
dtype: int64
site_id                    0
timestamp                  0
air_temperature          104
cloud_coverage        140448
dew_temperature          327
precip_depth_1_hr      95588
sea_level_pressure     21265
wind_direction         12370
wind_speed               460
dtype: int64

In [8]:
# Preprocess the weather train and test data

weather_train_df['timestamp_2'] = weather_train_df['timestamp'].astype(str).str[:-6]
weather_train_df['timestamp_2'] = pd.to_datetime(weather_train_df['timestamp_2'])
weather_train_df['date'] = weather_train_df['timestamp_2'].apply(datetime.date)
weather_train_df['time'] = weather_train_df['timestamp_2'].apply(datetime.time)

weather_test_df['timestamp_2'] = weather_test_df['timestamp'].astype(str).str[:-6]
weather_test_df['timestamp_2'] = pd.to_datetime(weather_test_df['timestamp_2'])
weather_test_df['date'] = weather_test_df['timestamp_2'].apply(datetime.date)
weather_test_df['time'] = weather_test_df['timestamp_2'].apply(datetime.time)

weather_train_df['air_temperature'] = weather_train_df['air_temperature'].fillna(weather_train_df.groupby('date')['air_temperature'].transform('median'))
weather_train_df['dew_temperature'] = weather_train_df['dew_temperature'].fillna(weather_train_df.groupby('date')['dew_temperature'].transform('median'))
weather_train_df['sea_level_pressure'] = weather_train_df['sea_level_pressure'].fillna(weather_train_df.groupby('date')['sea_level_pressure'].transform('median'))
weather_train_df['wind_speed'] = weather_train_df['wind_speed'].fillna(weather_train_df.groupby('date')['wind_speed'].transform('median'))
weather_train_df['cloud_coverage'] = weather_train_df['cloud_coverage'].fillna(weather_train_df.groupby('date')['cloud_coverage'].transform('median'))
weather_train_df['precip_depth_1_hr'] = weather_train_df['precip_depth_1_hr'].fillna(weather_train_df.groupby('date')['precip_depth_1_hr'].transform('median'))
weather_train_df['wind_direction'] = weather_train_df['wind_direction'].fillna(weather_train_df.groupby('date')['wind_direction'].transform('median'))

weather_test_df['air_temperature'] = weather_test_df['air_temperature'].fillna(weather_test_df.groupby('date')['air_temperature'].transform('median'))
weather_test_df['dew_temperature'] = weather_test_df['dew_temperature'].fillna(weather_test_df.groupby('date')['dew_temperature'].transform('median'))
weather_test_df['sea_level_pressure'] = weather_test_df['sea_level_pressure'].fillna(weather_test_df.groupby('date')['sea_level_pressure'].transform('median'))
weather_test_df['wind_speed'] = weather_test_df['wind_speed'].fillna(weather_test_df.groupby('date')['wind_speed'].transform('median'))
weather_test_df['cloud_coverage'] = weather_test_df['cloud_coverage'].fillna(weather_test_df.groupby('date')['cloud_coverage'].transform('median'))
weather_test_df['precip_depth_1_hr'] = weather_test_df['precip_depth_1_hr'].fillna(weather_test_df.groupby('date')['precip_depth_1_hr'].transform('median'))
weather_test_df['wind_direction'] = weather_test_df['wind_direction'].fillna(weather_test_df.groupby('date')['wind_direction'].transform('median'))

weather_nan_train = weather_train_df.isna().sum()
print(weather_nan_train)
weather_nan_test = weather_test_df.isna().sum()
print(weather_nan_test)

site_id               0
timestamp             0
air_temperature       0
cloud_coverage        0
dew_temperature       0
precip_depth_1_hr     0
sea_level_pressure    0
wind_direction        0
wind_speed            0
timestamp_2           0
date                  0
time                  0
dtype: int64
site_id                 0
timestamp               0
air_temperature         0
cloud_coverage        528
dew_temperature         0
precip_depth_1_hr       0
sea_level_pressure      0
wind_direction          0
wind_speed              0
timestamp_2             0
date                    0
time                    0
dtype: int64

In [9]:
weather_test_df = weather_test_df.fillna(0)
print(weather_test_df.isna().sum())

site_id               0
timestamp             0
air_temperature       0
cloud_coverage        0
dew_temperature       0
precip_depth_1_hr     0
sea_level_pressure    0
wind_direction        0
wind_speed            0
timestamp_2           0
date                  0
time                  0
dtype: int64

In [10]:
weather_train_df.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,timestamp_2,date,time
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,0.0,1019.7,0.0,0.0,2016-01-01 00:00:00,2016-01-01,00:00:00
1,0,2016-01-01 01:00:00,24.4,0.0,21.1,-1.0,1020.2,70.0,1.5,2016-01-01 01:00:00,2016-01-01,01:00:00
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0,2016-01-01 02:00:00,2016-01-01,02:00:00
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0,2016-01-01 03:00:00,2016-01-01,03:00:00
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,2016-01-01 04:00:00,2016-01-01,04:00:00

In [11]:
weather_test_df.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,timestamp_2,date,time
0,0,2017-01-01 00:00:00,17.8,4.0,11.7,0.0,1021.4,100.0,3.6,2017-01-01 00:00:00,2017-01-01,00:00:00
1,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1,2017-01-01 01:00:00,2017-01-01,01:00:00
2,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1,2017-01-01 02:00:00,2017-01-01,02:00:00
3,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1,2017-01-01 03:00:00,2017-01-01,03:00:00
4,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6,2017-01-01 04:00:00,2017-01-01,04:00:00

In [12]:
print(building_df.isna().sum())

site_id           0
building_id       0
primary_use       0
square_feet       0
year_built      774
floor_count    1094
dtype: int64

In [13]:
# Preprocess the buidling metadata

building_df = building_df.drop(columns='floor_count')
building_df = building_df.drop(columns='year_built')
building_df.head()

   site_id  building_id primary_use  square_feet
0        0            0   Education         7432
1        0            1   Education         2720
2        0            2   Education         5376
3        0            3   Education        23685
4        0            4   Education       116607

In [14]:
train_df.head()

,building_id,meter,timestamp,meter_reading,datetime,date,time
0,0,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00
1,1,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00
2,2,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00
3,3,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00
4,4,0,2016-01-01 00:00:00,0.0,2016-01-01,2016-01-01,00:00:00

In [15]:
test_df.head()

,row_id,building_id,meter,timestamp,datetime,date,time
0,0,0,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00
1,1,1,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00
2,2,2,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00
3,3,3,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00
4,4,4,0,2017-01-01 00:00:00,2017-01-01,2017-01-01,00:00:00

In [34]:
# Store the preprocessed data as intermediate results into csv files

building_df.to_csv("ashrae_intermidiate_result/building_metadata_cld.csv", index=False)
weather_train_df.to_csv('ashrae_intermidiate_result/weather_train_cld.csv', index=False)
weather_test_df.to_csv('ashrae_intermidiate_result/weather_test_cld.csv', index=False)
train_df.to_csv("ashrae_intermidiate_result/train_cld.csv", index=False)
test_df.to_csv("ashrae_intermidiate_result/test_cld.csv", index=False)

## Data Tranportor

- Load preprocessedata from csv files
- Write them into mongodb using functions in defined class mongoDB, here are some infos for the already stored data
  - database: ashrae_db
  - collection:
    - train
    - test
    - weather_train
    - weather_test
    - building_metadata
- the data in mongoDB can be loaded to Spark.DataFrame in the Data Loader.

In [16]:
spark

In [17]:
# Import packages

import pandas as pd
import datetime
import numpy as np

from datetime import datetime
from pytz import timezone

In [36]:
# Load datasets from csv file into pandas.dataframe

train_df = pd.read_csv("ashrae_intermidiate_result/train_cld.csv")
building_df = pd.read_csv("ashrae_intermidiate_result/building_metadata_cld.csv")
test_df = pd.read_csv("ashrae_intermidiate_result/test_cld.csv")
weather_train_df = pd.read_csv('ashrae_intermidiate_result/weather_train_cld.csv')
weather_test_df = pd.read_csv('ashrae_intermidiate_result/weather_test_cld.csv')

print('Data Loaded')
print('the size of train dataset:', train_df.shape)
print('the size of test dataset:', test_df.shape)
print('the size of weather_train dataset:', weather_train_df.shape)
print('the size of weather_test dataset:', weather_test_df.shape)
print('the size of building_metadata dataset:', building_df.shape)

Data Loaded
the size of train dataset: (20216100, 7)
the size of test dataset: (41697600, 7)
the size of weather_train dataset: (139773, 12)
the size of weather_test dataset: (277243, 12)
the size of building_metadata dataset: (1449, 4)

In [18]:
print('Data Loaded')
print('the size of train dataset:', train_df.shape)
print('the size of test dataset:', test_df.shape)
print('the size of weather_train dataset:', weather_train_df.shape)
print('the size of weather_test dataset:', weather_test_df.shape)
print('the size of building_metadata dataset:', building_df.shape)

Data Loaded
the size of train dataset: (20216100, 7)
the size of test dataset: (41697600, 7)
the size of weather_train dataset: (139773, 12)
the size of weather_test dataset: (277243, 12)
the size of building_metadata dataset: (1449, 4)

In [19]:
# Import packages

import pymongo
from pymongo import MongoClient
import json
import bson
from bson import ObjectId
from bson import json_util as jsonb
import datetime
import pandas as pd

In [22]:
class mongoDB():
    
    """
    Class Description:
    - Serve as the Data Connector layer in the project. 
    - raw_data->database->spark_data
        
    Initialization:
      - host_address
      - port_number
      - connect the Mongo client
      
    Functions: 
      - Create a MongoDB service for the user
      - Write raw data (pd.dataframe)/huge raw data into mongodb collections
      - Load mongodb collections into Spark.DataFrame
      - Drop existing collections
      - Count the number of rows in a collection
      - Close MongoDB connection
    
    Notices:
      - Use close_connection after finishing using mongo service (for the best)
    
    """  
    
    def __init__(self, host='127.0.0.1', port=27017):
        self.host = host
        self.port = port
        # Create a MongoClient to the running mongod instance
        self.mongo_client = MongoClient(self.host, self.port) # or we can use: MongoClient('localhost', 27017)
    
    def data_to_db(self, database_name='database_test', collection_name='collection_test', raw_data=pd.DataFrame(np.arange(100).reshape(25,4), columns=list('wxyz'))):
        '''
        Write raw data (pd.dataframe form) into mongodb database (as a collection)
        '''
        
        client = self.mongo_client
        
        # Create a database inside this client
        db = client[database_name]

        # Create a collection inside this database.
        # A collection is a group of documents stored in MongoDB, and can be thought of as roughly the equivalent of a table in a relational database
        collection = db[collection_name]

        # Data in MongoDB is represented (and stored) using JSON-style documents. In PyMongo we use dictionaries to represent documents.
        # data = your_df.to_dict(orient='record') / mycol.insert_many(data) may be useful as well.
        print('----------------------------------------------')
        print('Start Inserting......')
        collection.insert_many(json.loads(raw_data.T.to_json()).values())
    
        # print related information
        # print()
        print('- Data inserted to Database:', database_name, 'Collection:', collection_name)
        # print('There are other collections:', db.list_collection_names(), 'And other databases:', client.list_database_names())
        print('- The number of rows in', collection_name, 'is', collection.count_documents({}))
        print('- Fetch the first row in the collection', jsonb.dumps(list(collection.find_one())))
        print('Data Loaded')
    
        '''
        Set the info for MongoClient:
          - username="admin",
          - password="123456"
        '''
        '''
        If there are redundant info in the collection, use the following commands and simply rerun this function:
          client = MongoClient()
          db = client['database_test_1']
          collection = db['collection_test_1']
          collection.drop()
          client.close()
        Alternatively, use the following to remove single document
          # collection.remove( {'_id':id_num}) 
          db.test.delete_many({'x': 1})
        Use the following to find all documents in oone collection:
          list(collection.find())
        '''

    def huge_data_to_db(self, database_name='database_test', collection_name='collection_test', data=pd.DataFrame(np.arange(100).reshape(25,4), columns=list('wxyz')),split_num=10):
        '''
        Split big data into pieces and feed them into mongoDB piece by piece in order to show the process
        '''
        def split_df(data=pd.DataFrame(np.arange(100).reshape(25,4), columns=list('wxyz')), split_num=10):
            '''
            Split raw data (pd.DataFrame form) into different pieces so that it is available to load into mongoDB
            '''
            df_length = data.shape[0]
            result = []
            start = 0
            end = 0
            for i in range(1,split_num+1):
                print(i)
                if i == split_num:
                    end = df_length
                else:
                    end=i*int(df_length/split_num)
                print('start',start)
                print('end',end)
                result.append(data[start:end])
                start=end
            return result
        
        self.get_row_num(database_name, collection_name)
        print('--------------Start At:', datetime.datetime.now(),'----------------')
        
        df_splited = split_df(data,split_num)
        for i,item in enumerate(df_splited):
            self.data_to_db(database_name, collection_name, item)
            print("--------------Data split",i+1,"has been loaded----------------")
        
        print('--------------Finish At:', datetime.datetime.now(),'----------------')
        self.get_row_num(database_name, collection_name)
        
    def db_to_data(self, database_name='database_test', collection_name='collection_test', query={}, id_exist=False):
        '''
        Load collections/data from collections to Spark_DataFrame
        '''
        collection = self.mongo_client[database_name][collection_name]
        cursor = collection.find(query)
        df = pd.DataFrame(list(cursor))
        if bool(1-id_exist):
            del df['_id']
        print('Data Loaded')
        return df
    
    def drop_collection(self, database_name='database_test', collection_name='collection_test'):
        '''
        Drop a collection(table) in a database, all specified.
        '''
        collection = self.mongo_client[database_name][collection_name]
        collection.drop()
        print('Collection Dropped')
    
    def get_row_num(self, database_name='database_test', collection_name='collection_test'):
        '''
        Get the number of rows in the specified collection
        '''
        collection = self.mongo_client[database_name][collection_name]
        print('There are', collection.count_documents({}),'rows of data in the collection.')

    def close_connection(self):
        self.mongo_client.close()
        print('Client Closed')

In [25]:
# Load weather and building data (relatively small data)

instance = mongoDB()

# Load to database
instance.data_to_db('ashrae_db','weather_train',weather_train_df)
instance.data_to_db('ashrae_db','weather_test',weather_test_df)
instance.data_to_db('ashrae_db','building_metadata',building_df)

# Drop if needed
#instance.drop_collection('ashrae_db','weather_train')
#instance.drop_collection('ashrae_db','weather_test')
#instance.drop_collection('ashrae_db','building_metadata')

----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: weather_train
- The number of rows in weather_train is 139773
- Fetch the first row in the collection ["_id", "site_id", "timestamp", "air_temperature", "cloud_coverage", "dew_temperature", "precip_depth_1_hr", "sea_level_pressure", "wind_direction", "wind_speed", "timestamp_2", "date", "time"]
Data Loaded
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: weather_test
- The number of rows in weather_test is 277243
- Fetch the first row in the collection ["_id", "site_id", "timestamp", "air_temperature", "cloud_coverage", "dew_temperature", "precip_depth_1_hr", "sea_level_pressure", "wind_direction", "wind_speed", "timestamp_2", "date", "time"]
Data Loaded
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: building_metadata
- The number of rows in building_metadata is 1449
- Fetch the first row in the collection ["_id", "site_id", "building_id", "primary_use", "square_feet"]
Data Loaded

In [28]:
# Check if loaded
instance.get_row_num('ashrae_db','weather_train')
instance.get_row_num('ashrae_db','weather_test')
instance.get_row_num('ashrae_db','building_metadata')

There are 139773 rows of data in the collection.
There are 277243 rows of data in the collection.
There are 1449 rows of data in the collection.

In [31]:
# instance.get_row_num('ashrae_db','train')

There are 0 rows of data in the collection.

In [32]:
# Load train data (relatively large data)

instance.huge_data_to_db('ashrae_db','train',train_df,100)

There are 0 rows of data in the collection.
--------------Start At: 2020-11-20 02:21:53.126293 ----------------
1
start 0
end 202161
2
start 202161
end 404322
3
start 404322
end 606483
4
start 606483
end 808644
5
start 808644
end 1010805
6
start 1010805
end 1212966
7
start 1212966
end 1415127
8
start 1415127
end 1617288
9
start 1617288
end 1819449
10
start 1819449
end 2021610
11
start 2021610
end 2223771
12
start 2223771
end 2425932
13
start 2425932
end 2628093
14
start 2628093
end 2830254
15
start 2830254
end 3032415
16
start 3032415
end 3234576
17
start 3234576
end 3436737
18
start 3436737
end 3638898
19
start 3638898
end 3841059
20
start 3841059
end 4043220
21
start 4043220
end 4245381
22
start 4245381
end 4447542
23
start 4447542
end 4649703
24
start 4649703
end 4851864
25
start 4851864
end 5054025
26
start 5054025
end 5256186
27
start 5256186
end 5458347
28
start 5458347
end 5660508
29
start 5660508
end 5862669
30
start 5862669
end 6064830
31
start 6064830
end 6266991
32
start 6266991
end 6469152
33
start 6469152
end 6671313
34
start 6671313
end 6873474
35
start 6873474
end 7075635
36
start 7075635
end 7277796
37
start 7277796
end 7479957
38
start 7479957
end 7682118
39
start 7682118
end 7884279
40
start 7884279
end 8086440
41
start 8086440
end 8288601
42
start 8288601
end 8490762
43
start 8490762
end 8692923
44
start 8692923
end 8895084
45
start 8895084
end 9097245
46
start 9097245
end 9299406
47
start 9299406
end 9501567
48
start 9501567
end 9703728
49
start 9703728
end 9905889
50
start 9905889
end 10108050
51
start 10108050
end 10310211
52
start 10310211
end 10512372
53
start 10512372
end 10714533
54
start 10714533
end 10916694
55
start 10916694
end 11118855
56
start 11118855
end 11321016
57
start 11321016
end 11523177
58
start 11523177
end 11725338
59
start 11725338
end 11927499
60
start 11927499
end 12129660
61
start 12129660
end 12331821
62
start 12331821
end 12533982
63
start 12533982
end 12736143
64
start 12736143
end 12938304
65
start 12938304
end 13140465
66
start 13140465
end 13342626
67
start 13342626
end 13544787
68
start 13544787
end 13746948
69
start 13746948
end 13949109
70
start 13949109
end 14151270
71
start 14151270
end 14353431
72
start 14353431
end 14555592
73
start 14555592
end 14757753
74
start 14757753
end 14959914
75
start 14959914
end 15162075
76
start 15162075
end 15364236
77
start 15364236
end 15566397
78
start 15566397
end 15768558
79
start 15768558
end 15970719
80
start 15970719
end 16172880
81
start 16172880
end 16375041
82
start 16375041
end 16577202
83
start 16577202
end 16779363
84
start 16779363
end 16981524
85
start 16981524
end 17183685
86
start 17183685
end 17385846
87
start 17385846
end 17588007
88
start 17588007
end 17790168
89
start 17790168
end 17992329
90
start 17992329
end 18194490
91
start 18194490
end 18396651
92
start 18396651
end 18598812
93
start 18598812
end 18800973
94
start 18800973
end 19003134
95
start 19003134
end 19205295
96
start 19205295
end 19407456
97
start 19407456
end 19609617
98
start 19609617
end 19811778
99
start 19811778
end 20013939
100
start 20013939
end 20216100
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 202161
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 1 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 404322
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 2 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 606483
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 3 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 808644
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 4 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 1010805
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 5 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 1212966
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 6 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 1415127
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 7 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 1617288
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 8 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 1819449
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 9 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 2021610
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 10 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 2223771
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 11 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 2425932
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 12 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 2628093
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 13 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 2830254
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 14 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 3032415
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 15 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 3234576
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 16 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 3436737
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 17 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 3638898
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 18 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 3841059
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 19 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 4043220
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 20 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 4245381
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 21 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 4447542
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 22 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 4649703
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 23 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 4851864
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 24 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 5054025
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 25 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 5256186
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 26 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 5458347
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 27 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 5660508
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 28 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 5862669
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 29 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 6064830
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 30 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 6266991
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 31 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 6469152
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 32 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 6671313
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 33 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 6873474
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 34 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 7075635
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 35 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 7277796
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 36 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 7479957
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 37 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 7682118
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 38 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 7884279
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 39 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 8086440
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 40 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 8288601
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 41 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 8490762
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 42 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 8692923
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 43 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 8895084
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 44 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 9097245
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 45 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 9299406
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 46 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 9501567
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 47 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 9703728
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 48 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 9905889
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 49 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 10108050
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 50 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 10310211
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 51 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 10512372
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 52 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 10714533
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 53 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 10916694
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 54 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 11118855
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 55 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 11321016
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 56 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 11523177
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 57 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 11725338
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 58 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 11927499
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 59 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 12129660
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 60 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 12331821
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 61 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 12533982
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 62 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 12736143
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 63 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 12938304
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 64 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 13140465
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 65 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 13342626
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 66 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 13544787
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 67 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 13746948
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 68 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 13949109
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 69 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 14151270
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 70 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 14353431
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 71 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 14555592
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 72 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 14757753
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 73 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 14959914
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 74 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 15162075
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 75 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 15364236
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 76 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 15566397
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 77 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 15768558
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 78 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 15970719
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 79 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 16172880
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 80 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 16375041
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 81 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 16577202
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 82 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train

- The number of rows in train is 16779363
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 83 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 16981524
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 84 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 17183685
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 85 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 17385846
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 86 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 17588007
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 87 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 17790168
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 88 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 17992329
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 89 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 18194490
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 90 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 18396651
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 91 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 18598812
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 92 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 18800973
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 93 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 19003134
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 94 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 19205295
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 95 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 19407456
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 96 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 19609617
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 97 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 19811778
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 98 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 20013939
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 99 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: train
- The number of rows in train is 20216100
- Fetch the first row in the collection ["_id", "building_id", "meter", "timestamp", "meter_reading", "datetime", "date", "time"]
Data Loaded
--------------Data split 100 has been loaded----------------
--------------Finish At: 2020-11-20 05:29:52.417006 ----------------
There are 20216100 rows of data in the collection.

In [33]:
# Load train data (relatively large data)

instance.huge_data_to_db('ashrae_db','test',test_df,200)

There are 0 rows of data in the collection.
--------------Start At: 2020-11-20 05:30:12.741452 ----------------
1
start 0
end 208488
2
start 208488
end 416976
3
start 416976
end 625464
4
start 625464
end 833952
5
start 833952
end 1042440
6
start 1042440
end 1250928
7
start 1250928
end 1459416
8
start 1459416
end 1667904
9
start 1667904
end 1876392
10
start 1876392
end 2084880
11
start 2084880
end 2293368
12
start 2293368
end 2501856
13
start 2501856
end 2710344
14
start 2710344
end 2918832
15
start 2918832
end 3127320
16
start 3127320
end 3335808
17
start 3335808
end 3544296
18
start 3544296
end 3752784
19
start 3752784
end 3961272
20
start 3961272
end 4169760
21
start 4169760
end 4378248
22
start 4378248
end 4586736
23
start 4586736
end 4795224
24
start 4795224
end 5003712
25
start 5003712
end 5212200
26
start 5212200
end 5420688
27
start 5420688
end 5629176
28
start 5629176
end 5837664
29
start 5837664
end 6046152
30
start 6046152
end 6254640
31
start 6254640
end 6463128
32
start 6463128
end 6671616
33
start 6671616
end 6880104
34
start 6880104
end 7088592
35
start 7088592
end 7297080
36
start 7297080
end 7505568
37
start 7505568
end 7714056
38
start 7714056
end 7922544
39
start 7922544
end 8131032
40
start 8131032
end 8339520
41
start 8339520
end 8548008
42
start 8548008
end 8756496
43
start 8756496
end 8964984
44
start 8964984
end 9173472
45
start 9173472
end 9381960
46
start 9381960
end 9590448
47
start 9590448
end 9798936
48
start 9798936
end 10007424
49
start 10007424
end 10215912
50
start 10215912
end 10424400
51
start 10424400
end 10632888
52
start 10632888
end 10841376
53
start 10841376
end 11049864
54
start 11049864
end 11258352
55
start 11258352
end 11466840
56
start 11466840
end 11675328
57
start 11675328
end 11883816
58
start 11883816
end 12092304
59
start 12092304
end 12300792
60
start 12300792
end 12509280
61
start 12509280
end 12717768
62
start 12717768
end 12926256
63
start 12926256
end 13134744
64
start 13134744
end 13343232
65
start 13343232
end 13551720
66
start 13551720
end 13760208
67
start 13760208
end 13968696
68
start 13968696
end 14177184
69
start 14177184
end 14385672
70
start 14385672
end 14594160
71
start 14594160
end 14802648
72
start 14802648
end 15011136
73
start 15011136
end 15219624
74
start 15219624
end 15428112
75
start 15428112
end 15636600
76
start 15636600
end 15845088
77
start 15845088
end 16053576
78
start 16053576
end 16262064
79
start 16262064
end 16470552
80
start 16470552
end 16679040
81
start 16679040
end 16887528
82
start 16887528
end 17096016
83
start 17096016
end 17304504
84
start 17304504
end 17512992
85
start 17512992
end 17721480
86
start 17721480
end 17929968
87
start 17929968
end 18138456
88
start 18138456
end 18346944
89
start 18346944
end 18555432
90
start 18555432
end 18763920
91
start 18763920
end 18972408
92
start 18972408
end 19180896
93
start 19180896
end 19389384
94
start 19389384
end 19597872
95
start 19597872
end 19806360
96
start 19806360
end 20014848
97
start 20014848
end 20223336
98
start 20223336
end 20431824
99
start 20431824
end 20640312
100
start 20640312
end 20848800
101
start 20848800
end 21057288
102
start 21057288
end 21265776
103
start 21265776
end 21474264
104
start 21474264
end 21682752
105
start 21682752
end 21891240
106
start 21891240
end 22099728
107
start 22099728
end 22308216
108
start 22308216
end 22516704
109
start 22516704
end 22725192
110
start 22725192
end 22933680
111
start 22933680
end 23142168
112
start 23142168
end 23350656
113
start 23350656
end 23559144
114
start 23559144
end 23767632
115
start 23767632
end 23976120
116
start 23976120
end 24184608
117
start 24184608
end 24393096
118
start 24393096
end 24601584
119
start 24601584
end 24810072
120
start 24810072
end 25018560
121
start 25018560
end 25227048
122
start 25227048
end 25435536
123
start 25435536
end 25644024
124
start 25644024
end 25852512
125
start 25852512
end 26061000
126
start 26061000
end 26269488
127
start 26269488
end 26477976
128
start 26477976
end 26686464
129
start 26686464
end 26894952
130
start 26894952
end 27103440
131
start 27103440
end 27311928
132
start 27311928
end 27520416
133
start 27520416
end 27728904
134
start 27728904
end 27937392
135
start 27937392
end 28145880
136
start 28145880
end 28354368
137
start 28354368
end 28562856
138
start 28562856
end 28771344
139
start 28771344
end 28979832
140
start 28979832
end 29188320
141
start 29188320
end 29396808
142
start 29396808
end 29605296
143
start 29605296
end 29813784
144
start 29813784
end 30022272
145
start 30022272
end 30230760
146
start 30230760
end 30439248
147
start 30439248
end 30647736
148
start 30647736
end 30856224
149
start 30856224
end 31064712
150
start 31064712
end 31273200
151
start 31273200
end 31481688
152
start 31481688
end 31690176
153
start 31690176
end 31898664
154
start 31898664
end 32107152
155
start 32107152
end 32315640
156
start 32315640
end 32524128
157
start 32524128
end 32732616
158
start 32732616
end 32941104
159
start 32941104
end 33149592
160
start 33149592
end 33358080
161
start 33358080
end 33566568
162
start 33566568
end 33775056
163
start 33775056
end 33983544
164
start 33983544
end 34192032
165
start 34192032
end 34400520
166
start 34400520
end 34609008
167
start 34609008
end 34817496
168
start 34817496
end 35025984
169
start 35025984
end 35234472
170
start 35234472
end 35442960
171
start 35442960
end 35651448
172
start 35651448
end 35859936
173
start 35859936
end 36068424
174
start 36068424
end 36276912
175
start 36276912
end 36485400
176
start 36485400
end 36693888
177
start 36693888
end 36902376
178
start 36902376
end 37110864
179
start 37110864
end 37319352
180
start 37319352
end 37527840
181
start 37527840
end 37736328
182
start 37736328
end 37944816
183
start 37944816
end 38153304
184
start 38153304
end 38361792
185
start 38361792
end 38570280
186
start 38570280
end 38778768
187
start 38778768
end 38987256
188
start 38987256
end 39195744
189
start 39195744
end 39404232
190
start 39404232
end 39612720
191
start 39612720
end 39821208
192
start 39821208
end 40029696
193
start 40029696
end 40238184
194
start 40238184
end 40446672
195
start 40446672
end 40655160
196
start 40655160
end 40863648
197
start 40863648
end 41072136
198
start 41072136
end 41280624
199
start 41280624
end 41489112
200
start 41489112
end 41697600
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 208488
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 1 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 416976
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 2 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 625464
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 3 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 833952
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 4 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 1042440
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 5 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test

- The number of rows in test is 1250928
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 6 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 1459416
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 7 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 1667904
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 8 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 1876392
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 9 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 2084880
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 10 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 2293368
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 11 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 2501856
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 12 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 2710344
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 13 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 2918832
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 14 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 3127320
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 15 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 3335808
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 16 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 3544296
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 17 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 3752784
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 18 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 3961272
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 19 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 4169760
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 20 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 4378248
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 21 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 4586736
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 22 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 4795224
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 23 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 5003712
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 24 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 5212200
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 25 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 5420688
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 26 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 5629176
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 27 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 5837664
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 28 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 6046152
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 29 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 6254640
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 30 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 6463128
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 31 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 6671616
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 32 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 6880104
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 33 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 7088592
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 34 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 7297080
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 35 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 7505568
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 36 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 7714056
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 37 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 7922544
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 38 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 8131032
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 39 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 8339520
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 40 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 8548008
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 41 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 8756496
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 42 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 8964984
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 43 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 9173472
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 44 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 9381960
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 45 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 9590448
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 46 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 9798936
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 47 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 10007424
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 48 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 10215912
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 49 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 10424400
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 50 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 10632888
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 51 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 10841376
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 52 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 11049864
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 53 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 11258352
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 54 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 11466840
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 55 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 11675328
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 56 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 11883816
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 57 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 12092304
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 58 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 12300792
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 59 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 12509280
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 60 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 12717768
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 61 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 12926256
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 62 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 13134744
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 63 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 13343232
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 64 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 13551720
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 65 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 13760208
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 66 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 13968696
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 67 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 14177184
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 68 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 14385672
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 69 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 14594160
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 70 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 14802648
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 71 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 15011136
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 72 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 15219624
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 73 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 15428112
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 74 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 15636600
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 75 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 15845088
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 76 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 16053576
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 77 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 16262064
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 78 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 16470552
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 79 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 16679040
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 80 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 16887528
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 81 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 17096016
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 82 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 17304504
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 83 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 17512992
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 84 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 17721480
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 85 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 17929968
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 86 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 18138456
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 87 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 18346944
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 88 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 18555432
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 89 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 18763920
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 90 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 18972408
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 91 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 19180896
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 92 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 19389384
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 93 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 19597872
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 94 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 19806360
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 95 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 20014848
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 96 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 20223336
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 97 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 20431824
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 98 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 20640312
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 99 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 20848800
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 100 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 21057288
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 101 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 21265776
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 102 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 21474264
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 103 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 21682752
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 104 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 21891240
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 105 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 22099728
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 106 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 22308216
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 107 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 22516704
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 108 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 22725192
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 109 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 22933680
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 110 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 23142168
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 111 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 23350656
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 112 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 23559144
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 113 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 23767632
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 114 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 23976120
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 115 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 24184608
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 116 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 24393096
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 117 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 24601584
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 118 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 24810072
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 119 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 25018560
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 120 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 25227048
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 121 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 25435536
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 122 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 25644024
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 123 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 25852512
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 124 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 26061000
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 125 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 26269488
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 126 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 26477976
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 127 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 26686464
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 128 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 26894952
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 129 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 27103440
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 130 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 27311928
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 131 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 27520416
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 132 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 27728904
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 133 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 27937392
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 134 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 28145880
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 135 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 28354368
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 136 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 28562856
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 137 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 28771344
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 138 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 28979832
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 139 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 29188320
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 140 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 29396808
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 141 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 29605296
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 142 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 29813784
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 143 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 30022272
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 144 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 30230760
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 145 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 30439248
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 146 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 30647736
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 147 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 30856224
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 148 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 31064712
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 149 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 31273200
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 150 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 31481688
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 151 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 31690176
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 152 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 31898664
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 153 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 32107152
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 154 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 32315640
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 155 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 32524128
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 156 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 32732616
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 157 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 32941104
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 158 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 33149592
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 159 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 33358080
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 160 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 33566568
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 161 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 33775056
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 162 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 33983544
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 163 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 34192032
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 164 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 34400520
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 165 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 34609008
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 166 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 34817496
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 167 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 35025984
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 168 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 35234472
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 169 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 35442960
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 170 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 35651448
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 171 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 35859936
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 172 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 36068424
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 173 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 36276912
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 174 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 36485400
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 175 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 36693888
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 176 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 36902376
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 177 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 37110864
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 178 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 37319352
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 179 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 37527840
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 180 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 37736328
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 181 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 37944816
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 182 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 38153304
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 183 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 38361792
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 184 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 38570280
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 185 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 38778768
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 186 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 38987256
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 187 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 39195744
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 188 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 39404232
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 189 has been loaded----------------
----------------------------------------------
Start Inserting......

- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 39612720
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 190 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 39821208
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 191 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 40029696
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 192 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 40238184
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 193 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 40446672
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 194 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 40655160
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 195 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 40863648
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 196 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 41072136
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 197 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 41280624
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 198 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 41489112
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 199 has been loaded----------------
----------------------------------------------
Start Inserting......
- Data inserted to Database: ashrae_db Collection: test
- The number of rows in test is 41697600
- Fetch the first row in the collection ["_id", "row_id", "building_id", "meter", "timestamp", "datetime", "date", "time"]
Data Loaded
--------------Data split 200 has been loaded----------------
--------------Finish At: 2020-11-20 15:23:24.729058 ----------------
There are 41697600 rows of data in the collection.